.widget-header .breadcrumb {
    padding: 0 0 0 10px;
    margin-bottom: 0;
    list-style: none;
    background:none;
}
.stacked:after,
.stacked:before {
    border: none;
}

.subnavbar .subnavbar-inner, .subnavbar .mainnav, .subnavbar .mainnav > li{
    height: 40px;
}
.subnavbar .mainnav > li > a{
    padding: 8px 20px 0px 20px;
}
.subnavbar .mainnav > li > a > span{
    color: #ffffff;
    font-size: 120%;
    font-weight:normal;
}
.pagination {
    margin: 2px;
}

.pagination-panel {
}

.pagination-panel .pagination {
    margin-top: -6px;
}

.breadcrumb-row{background:none; margin-bottom: 10px; border: none; -webkit-box-shadow: none; box-shadow: none;}
.breadcrumb-row .breadcrumb{font-size:120%;height:34px; vertical-align:middle; margin: 0;padding: 8px 0 0 0;background: none;}
table.table th{text-align: center;font-weight:bold;}
table.table thead tr.filter th{padding:0;}
table.table thead tr.filter th input{width:100%;}
table.table tbody tr td{vertical-align: middle;text-align: center;}
table.table th.index, table.table tbody tr td.index{width:40px; text-align: center;}
table.table th.edit, table.table tbody tr td.edit{width:60px;text-align: center; vertical-align: middle;}
table.table th.small, table.table tbody tr td.small{width:80px;}
table.table th.middle, table.table tbody tr td.middle{width:120px;}
table.table th.large, table.table tbody tr td.large{width:240px;}
table.table th.left, table.table tbody tr td.left{text-align: left;}
table.table th.right, table.table tbody tr td.right{text-align: right;}
table.table tbody tr td.false{color:#ff0000;}
table.table tbody tr td.true{color:#2b542c;}

.panel #nestable{float:none;max-width:none;width: 100%;}
.panel #nestable .dd-handle{-webkit-border-radius: 0;border-radius: 0;cursor: move;}