<!DOCTYPE html>
<html>
  <head>
    <title><!--#Content "Title"#--></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!--#Content "CSS"#-->
    <!--#Content "HeaderJs"#-->
  </head>
  <body>
  	<!--#Content "Body"#-->
    <script src="/static/js/libs.js"></script>
    <script src="/static/js/core.js"></script>
    <script src="/static/js/locale.js"></script>
    <script src="/static/js/formvalidate.js"></script>
    <script>
      var behavior = new Behavior({
        // verbose: true
      }).apply(document.body);
      var delegator = new Delegator({
        getBehavior: function(){ return behavior; }
      }).attach(document.body);
    </script>
    <!--#Content "FooterJs"#-->
  </body>
</html>