{% extends "../../master.html" %}
{% block content %}
<ul class="breadcrumb">
    <li>
        <a href="#">{{ _("auth_manage") }}</a>
    </li>
    <li>
        <a href="/admin/auth/role/list">{{ _("auth_account_list") }}</a>
    </li>
    <li class="active">
        {% if handler.request_action is "add" %}
        {{ _("add") }}
        {% else %}
        {{ _("edit") }}
        {% end %}
    </li>
</ul>

<form id="form1" method="post">
    {% raw begin_form() %}
    {% raw field_text(_("username"), "@user_name#user_name%required|letter|minlength:6", model.user_name) %}
    {% raw field_text(_("email"), "@email#email%required", model.email, 'email') %}
    {% raw field_text(_("password"), "@password#password%required", model.password) %}
    {% raw field_select(_("level"), levels, "@level#level%required", model.level) %}
    {% raw field_checkboxes(_("role_list"), roles, "role_ids", model.role_ids) %}
    {% raw end_form() %}
    <div class="form-group">
        <button type="submit" class="btn btn-default btn-primary">{{ _("save") }}</button>
        <a href="{{ handler.referer_url }}" class="btn btn-default">{{ _("back") }}</a>
    </div>
    <input type="hidden" id="id" name="id" value="{{ model.id or '' }}"/>
    {% raw referer_hidden() %}
</form>

{% end %}
{% block footerjs %}
<script type="text/javascript">
    var validator = new Toys.Html.Validation.Validator('#form1');
</script>
{% end %}